/* ==UserStyle==
@name         Theme switcher by Mew
@version      0.1.0
@author       vednoc
@description  A variety of color-schemes for my userstyles.
@namespace    gitlab.com/vednoc/theme_switcher
@homepageURL  https://gitlab.com/vednoc/theme_switcher
@updateURL    https://gitlab.com/vednoc/theme_switcher/raw/master/switcher.user.css
@preprocessor uso

@var select dark "Background color" {
  "Solarized Light": "#fdf6e3",
  "Solarized Dark": "#073642",
  "Discord": "#2f3136",
  "DeepDark": "#111111",
  "Arc Dark": "#414A59",
  "Custom": "/*[[custom_dark]]*\/"
}
@var color custom_dark "Custom background color" #2e2e2e

@var select darker "Background highlight" {
  "Solarized Light": "#eee8d5",
  "Solarized Dark": "#002b36",
  "Discord": "#1e2124",
  "DeepDark": "#232323",
  "Arc Dark": "#343944",
  "Custom": "/*[[custom_darker]]*\/"
}
@var color custom_darker "Custom background highlight color" #212121

@var select light "Primary text color" {
  "Solarized Light": "#657b83",
  "Solarized Dark": "#839496",
  "Discord": "#ada8aa",
  "DeepDark": "#eff0f1",
  "Arc Dark": "#C1C8D1",
  "Custom": "/*[[custom_light]]*\/"
}
@var color custom_light "Custom primary text color" #d1d1d1

@var select lighter "Secondary text color" {
  "Solarized Light": "#93a1a1",
  "Solarized Dark": "#93a1a1",
  "Discord": "#ffffff",
  "DeepDark": "#CCCCCC",
  "Arc Dark": "#B3BAC5",
  "Custom": "/*[[custom_lighter]]*\/"
}
@var color custom_lighter "Custom secondary text color" #e9e9e9

@var select accent "Emphasized text color" {
  "Solarized Light": "#586e75",
  "Solarized Dark": "#586e75",
  "Discord": "#7289da",
  "DeepDark": "#00adee",
  "Arc Dark": "#5294E2",
  "Custom": "/*[[custom_accent]]*\/"
}
@var color custom_accent "Custom emphasized text color" #1da1a1

@var select shadow "Shadow intensity" {
  "Default": "rgba(0, 0, 0, 0.07)",
  "Custom": "/*[[custom_shadow]]*\/"
}
@var color custom_shadow "Custom shadow intensity" rgba(0, 0, 0, 0.1)

@var select yellow "Yellow color" {
  "Solarized": "#b58900",
  "Custom": "/*[[custom_yellow]]*\/"
}
@var color custom_yellow "Custom yellow color" yellow

@var select orange "Orange color" {
  "Solarized": "#cb4b16",
  "Custom": "/*[[custom_orange]]*\/"
}
@var color custom_orange "Custom orange color" orange

@var select red "Red color" {
  "Solarized": "#dc322f",
  "Custom": "/*[[custom_red]]*\/"
}
@var color custom_red "Custom red color" red

@var select magenta "Magenta color" {
  "Solarized": "#d33682",
  "Custom": "/*[[custom_magenta]]*\/"
}
@var color custom_magenta "Custom magenta color" magenta

@var select violet "Violet color" {
  "Solarized": "#6c71c4",
  "Custom": "/*[[custom_violet]]*\/"
}
@var color custom_violet "Custom violet color" violet

@var select blue "Blue color" {
  "Solarized": "#268bd2",
  "Custom": "/*[[custom_blue]]*\/"
}
@var color custom_blue "Custom blue color" blue

@var select cyan "Cyan color" {
  "Solarized": "#2aa198",
  "Custom": "/*[[custom_cyan]]*\/"
}
@var color custom_cyan "Custom cyan color" cyan

@var select green "Green color" {
  "Solarized": "#859900",
  "Custom": "/*[[custom_green]]*\/"
}
@var color custom_green "Custom green color" green

==/UserStyle== */

@-moz-document regexp("https?://.*") {
  :root {
    --dark:    /*[[dark]]*/    !important;
    --darker:  /*[[darker]]*/  !important;
    --light:   /*[[light]]*/   !important;
    --lighter: /*[[lighter]]*/ !important;
    --accent:  /*[[accent]]*/  !important;
    --shadow:  /*[[shadow]]*/  !important;
    --yellow:  /*[[yellow]]*/  !important;
    --orange:  /*[[orange]]*/  !important;
    --red:     /*[[red]]*/     !important;
    --magenta: /*[[magenta]]*/ !important;
    --violet:  /*[[violet]]*/  !important;
    --blue:    /*[[blue]]*/    !important;
    --cyan:    /*[[cyan]]*/    !important;
    --green:   /*[[green]]*/   !important;
  }
}
