/* ==UserStyle==
@name         Dark-Switcher
@version      0.9.0
@author       vednoc <vednoc@pm.me> (https://gitlab.com/vednoc)
@description  Global settings companion-userstyle for my userstyles.
@namespace    gitlab.com/vednoc/dark-switcher
@homepageURL  https://gitlab.com/vednoc/dark-switcher
@updateURL    https://gitlab.com/vednoc/dark-switcher/raw/master/switcher.user.styl
@preprocessor stylus
==/UserStyle== */

@-moz-document regexp('(https?|file|(moz|chrome)-extension)://.*') {
    :root {
    }
}
